/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b99090;
}

h1 {
  font-size: 24px;
  color: #782e2e;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 18rem;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.card-text {
  color: #666;
}

.price {
  font-size: 16px;
  color: #007bff;
  margin-top: 10px;
}

/* Add additional styles for other components if needed */
